* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
  color: #374151;
}


html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: keep-all;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  background: red;
}

.header-logo { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


h1 {
  font-weight: 700;
  font-size: 40px;
}


header {
  width: 100%;
  max-width: 1120px;
  height: 70px;
}


header button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

.cards {
  width: 988px;
  height: 444px;
  display: flex;
  flex-wrap: wrap;
}

.landing {
  height: 540px;
  background-color: #CFE5FF;
}

.landing button {
  width: 357px;
  height: 56px;
  border-radius: 40px;
}

button {
  font-weight: 600;
  background-color: #3692FF;
  color: #F3F4F6
}

footer {
  background-color: #111827;
  color: #E5E7EB;
}

#copyright {
  color: #9CA3AF;
}